<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo_ai_even"> <!-- Make sure this package name matches your app -->

    <!-- Permissions -->

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Request nearby devices permission on Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Location permissions (needed for scanning pre-Android 12, potentially still needed/useful after) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Internet permission (for audio streaming examples or other network needs) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Add FOREGROUND_SERVICE and WAKE_LOCK only if implementing background audio (which we aren't currently for external control) -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK"/> -->

    <!-- End Permissions -->


    <application
        android:label="Even G1 Demo" <!-- Changed Label slightly -->
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"> <!-- Default launcher icon -->

        <!-- Main Flutter Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- *********************************************** -->
        <!-- *** DECLARATION FOR MediaListenerService *** -->
        <!-- *********************************************** -->
        <service
            android:name=".media.MediaListenerService" <!-- Make sure this path is correct -->
            android:exported="false" />
            <!-- If targeting SDK 34+ consider adding foregroundServiceType -->
            <!-- <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                  android:value="explanation_for_foreground_service_use" /> -->
        <!-- *********************************************** -->


        <!-- Don't delete the meta-data below. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- If targeting Android 11 (API 30) or higher, you might need package visibility
             rules to see MediaBrowserService implementations from other apps, although
             MediaSessionManager might work differently. Add if needed. -->
        <!--
        <intent>
          <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
        -->
    </queries>

</manifest>